$green-color: #755CDE;
$oring-color:#F6A560;
$pink-color:#EB7565;
$light-pink-color:#F39E9E;
$air-color:#61C4B7;
$ink-color:#552049;
$black-color:#030303;
$silver-color:#7A746E;
$white-color:#FFF7F0;


$main-ff: 'Plus Jakarta Sans', sans-serif;
